<header>
    <div class="encabezado">
    <div class="enlaces">
        <div class="enlace preguntas">
            <a href="/preguntas/" class="textoenlace">Preguntas</a>
        </div>
        <div class="enlace sinresponder">
            <a href="preguntassinresponder.html" class="textoenlace">Sin responder</a>
        </div>
        <div class="enlace usuarios">
            <a href="usuarios.html" class="textoenlace"> Usuarios</a>
        </div>
    </div>
    <div class="logo"><img class="logo" src="img/logo.png"></img></div>
    <div class="usuario">
        <div class="foto">
            <img id="foto" src="/imagenUsuario" alt="Foto de perfil">
        </div>
        <a class="enlacenick" href="perfil.html"> <div class="nick"><%= userNick %></div> </a>
        <div class="cerrarsesion">
            <a href="../logout" class="textocerrarsesion"><img id="iconcerrarsesion" src="img/cerrarsesionrojo.png"> Cerrar sesión</a>
        </div>
    </div>
</div>
    <form class="search" action="search" method="GET">
        <div class="barrabusqueda">
            <input class="buscar" type="submit" value="Buscar">
            <input class="textobuscador" type="text" name="busqueda" placeholder="Buscar por titulo/cuerpo de pregunta" >
        </div>
    </form>
</header>