<!--Grupo 14 - Ramon Rosa Perez y Victor Velazquez Cabrera-->
<!DOCTYPE html> 
<html lang="es">
   <head>
      <title>404</title>
      <meta charset="utf-8"/>
      <link rel="stylesheet" href="/css/login.css" media="screen">
      <link rel="icon" type="image/png" href="/img/404-error.png">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    </head>
   <body>
        <%- include("subplantillaHeaderLoginOut") %>
        <div class="cuerpo">
            <form class="login" action="login" method="POST">
                <div class=correo">Correo: <input class="texto" type="text" name="correo" required></div>
                <div class=pass">Contraseña: <input class="textopass" type="password" name="password" required></div>
                <div class="botones">
                    <button class="boton ini" type="submit">Iniciar sesión</button>
                    <a href="../loginout/register"> <button class="boton crear" type="button">Crear cuenta</button> </a>
                </div> 
                <p class="error"><%= errorMsg %></p>
             </form>
        </div>
   </body>
</html>