<!--Grupo 14 - Ramon Rosa Perez y Victor Velazquez Cabrera-->
<!DOCTYPE html> 
<html lang="es">
   <head>
      <title>404</title>
      <meta charset="utf-8"/>
      <link rel="stylesheet" href="/css/usuarios.css" media="screen">
      <link rel="icon" type="image/png" href="/img/404-error.png">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    </head>
   <body>
    <%- include("subplantillaHeader") %>  
    <div class="contenido">
        <h2 class="titulo">Usuarios</h2>
        <%- include("subplantillaUsuarios") %>  
    </div>
   </body>
</html>