*{
    margin: 0;
    padding:0;
    font-family: 'Comfortaa', cursive;
    /* border: 1px solid red; */
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.encabezado{
    display: flex;
    justify-content: center;
    background-color:rgb(81, 184, 236, 0.3);
    padding-bottom: 9px;
}

.logo{
    width: 300px;
    
}

.gradiente{
    padding-bottom: 23px;
    width: 100%;
    background: linear-gradient(180deg, rgba(81,184,236,0.3) 0%, rgba(255,255,255,1) 71%);
}

.login{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 300px;
    justify-content: space-evenly;
    min-width: 400px;
}

.cuerpo{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.correo{
    font-weight: bold;
}

.texto{
    height: 30px;
    width: 60%;
    margin-left: 60px;
    font-size: 20px;
}

.pass{
    font-weight: bold;
}

.textopass{
    font: large Verdana,sans-serif;
    letter-spacing: 1px;
    height: 30px;
    width: 60%;
    margin-left: 20px;
}


.botones{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.boton{
    background-color:rgb(81, 184, 236);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 17px;
}

.ini{
   
    
}

.crear{
  margin-left: 20px;
}

.boton:hover{
    cursor: pointer;
}

